# Backend
server/__debug_bin
server/graph/generated.go
server/graph/model/models_gen.go

# Frontend
web/node_modules/
web/dist/
web/src/__generated__/


shared/schema/schema.graphql

# Environment
.env
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
