# Backend
backend/__debug_bin
backend/graph/generated.go
backend/graph/model/models_gen.go

# Frontend
frontend/node_modules/
frontend/dist/
frontend/src/__generated__/

# Environment
.env
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
